body {
    font-family: 'Open Sans', sans-serif;
    background-color: #DEDEDE;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.box {
    display: block;
    height: 100%;
    border-radius: 5px;
}

.box-feedback {
    background-color: #FFFFFF;
    border: #BABABA 1px;
    margin-top: 10px;
}

.box-header {
    background-color: #EDEDED;
    border-bottom: #BABABA 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

.box-body {
    padding: 10px;
}

.box-footer {
    background-color: #EDEDED;
    border-bottom: #BABABA 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    height: auto;
}

.inline {
    display: inline-block;
}

.bg-red {
    background-color: #ff297a;
    color: white;
}

.bg-yellow {
    background-color: #fff012;
    color: white;
}

.bg-green {
    background-color: #3db16f;
    color: white;
}

.bg-black {
    background-color: #000000;
    color: white;
}

.brd-grey {
    border: 1px solid #BABABA;
}

.brd-green {
    border: 1px solid #45ba87;
}

.pointer {
    cursor: pointer;
}

.padding {
    padding-top: 10px;
}

.text-xs {
    font-size: 10px;
}

.text-md {
    font-size: 16px;
}
